body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#323532;
  color: #EFEDDC;
}


h1{
  padding-left: 5px;
  border: 5px solid #4A7EAD;
  border-radius:10px;
  width: 720px;
  margin-right:auto;
}

p{
  padding-left: 20px;
}

a{
  color:#9DA2AB;
  padding-left: 20px;
}


h2{
  padding-left: 5px;
  border:5px solid #4A7EAD;
  border-radius:10px;
  width: 720px;
  margin-right:auto;
}

.topimg{
    text-align: center;
}

img{
  height: 200px;
  width: 200px;
  border: 15px solid #2475FF;
}

.rounded{
  border: 15px solid #2475FF;
}
.circle:hover{
  border-radius: 100px;
}
